.for-flex{
    display:flex;
    align-items:center;
    gap:30px;
    margin-top:15px;
}

.pruit-logo{
    margin-left:10px;
    height:40px;
}

.pruit-text{
    font-size:10px;
}
.mid-text {
  width: auto;
}
.mid-p-tag{
    font-size:9px;
    line-height:1.5;
    color:#333;
}

.for-text-indent{
    text-indent:5px;
}
